.btn_name
{
    padding:5px 20px 5px 20px;
}

.jumbotron
{
    text-align: center;
    font-size:30; 
}
#tableid
{
    background-color: pink;
}

.side_bar
{
    left:0px;
    top:200px;
}
body
{
    background-image: url("https://uploads.strikinglycdn.com/static/backgrounds/business-2/144.jpg");
}
/*social sites link is added using social site kit/*
