
<div class="container">  
    <div class="row">
       <div class="col-md-12">
            <div class="form-wrapper">
                 <div class="my-form">
                       <div class="col-md-6 no-padding">
                             <div class="info">
                                 <div id="carousel-id" class="carousel slide" data-ride="carousel">
                                     <ol class="carousel-indicators">
                                         <li data-target="#carousel-id" data-slide-to="0" class="active"></li>
                                         <li data-target="#carousel-id" data-slide-to="1" ></li>
                                         <li data-target="#carousel-id" data-slide-to="2" ></li>
                                    </ol>
                                 <div class="carousel-inner">
                                      <div class="item">
                                         <img src="https://insidecroydon.files.wordpress.com/2017/10/dubai.jpg" class="img-responsive center-block" alt="">
                                      </div>
                                      <div class="item">
                                          <img src="https://insidecroydon.files.wordpress.com/2017/10/dubai.jpg" class="img-responsive center-block" alt="">
                                      </div>
                                      <div class="item active">
                                          <img src="https://insidecroydon.files.wordpress.com/2017/10/dubai.jpg" class="img-responsive center-block" alt="">
                                      </div>
                                  </div>
                                  </div>
                             </div>
                        </div>
                        <div class="col-md-6 form-bg">
                             <div class="main-form">
                                 <div role="tabpanel">
                                     <ul class="nav nav-tabs" role="tablist">
                                         <li role="presentation" class="active">
                                             <a aria-controls="login"  data-toggle="tab">Itinerary Plan</a>
                                         </li>
                                      </ul>

                                 <div class="tab-content">
                                      <div role="tabpanel" class="tab-pane active" id="login">
                                          <form action="">
                                               <input class="form-control" type="textbox"  placeholder="Enter Destination">
                                               <input class="form-control" type="textbox" placeholder="Enter member number">
                                               <app-calendar-demo></app-calendar-demo>
                                               <input class="btn btn-submit" type="submit" value="Start Planning" >
                                          </form>
                                       </div>
                                 </div>
                                 </div>
                             </div>
                        </div>
                 </div>
            </div>
        </div>
    </div>
<div class="row">
   <h1><u>Benefits</u></h1>
   <div class="col-md-3">
          <h3>1. You won’t miss out on anything</h3>
               <p>Making an itinerary will force you to do your research ahead of time. This may be the only time you visit this place,
                    SO you want to be sure you see everything you came to see. Through your research, you might even learn of destinations, 
                    festivals or exhibits you may not have known existed. 
               </p>
    </div>
    <div class="col-md-6">           
         <h3>2. It will help with packing</h3>
              <p>Having a tentative plan of what places you’re visiting and activities you’ll be participating in helps greatly in efficient packing. 
                   Instead of four pairs of shoes, you’ll know that you may not need those hiking boots after all. It will also help when you’re 
                   choosing what to wear each day, 
              </p>
    </div>
    <div class="col-md-3">          
         <h3>3. Budget for your trip over time</h3>
              <p>Travel is a fulfilling, life-changing investment. Planning for your trip ahead of time enables you and your group members to 
                  properly save for your tour and arrange for smaller, more manageable payments over time.
              </p>
    </div>
    <div class="col-md-6">          
         <h3>4. Set up personalized free-time activities</h3>
             <p>Once you have all the necessary pre-tour details in place, you can use extra time before departure to consider free-time activities. 
                 Planning your travel in advance allows more opportunity to think about these additional adventures, enabling you and your group
                 members to create a more personalized and immersive on-tour experience.
             </p>
    </div>         
</div>
<app-favourite-spots></app-favourite-spots>
</div>