<div style="background-image: url(https://static1.squarespace.com/static/5a5906400abd0406785519dd/t/5a8084d153450a4981255f08/1519365933473/); height:auto ; background-position:center;background-repeat:no-repeat;background-size: 100% 100%;; width:100%; ">
    <div class="form-wrapper">
        <div class="form-group">
            <div class="col-md-6 form-bg">
                <div class="main-form">
                    <div style="background-color: bisque" role="tabpanel">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a aria-controls="login" data-toggle="tab">Itinerary Plan</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="login">
                                <form action="">
                                    <input class="form-control" type="textbox" placeholder="Enter Destination" style="margin-right: 2px">
                                    <input class="form-control" type="textbox" placeholder="Enter member number">
                                    <div style="display:flex;flex-wrap: wrap;padding: 5%">
                                        <h4>Dates</h4>
                                        <input type="Date" placeholder="entry date" />
                                        <input type="Date" placeholder="Desired date" />
                                    </div>

                                    <!--<app-calendar-demo></app-calendar-demo>-->

                                    <input align="middle" class="btn btn-submit" type="submit" style="width:7cm" value="Start Planning" />

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <h1>
            <u>Benefits</u>
        </h1>
        <div class="col-md-3">
            <h3>1. You won’t miss out on anything</h3>
            <p>Making an itinerary will force you to do your research ahead of time. This may be the only time you visit this
                place, SO you want to be sure you see everything you came to see. Through your research, you might even learn
                of destinations, festivals or exhibits you may not have known existed.
            </p>
        </div>
        <div class="col-md-6">
            <h3>2. It will help with packing</h3>
            <p>Having a tentative plan of what places you’re visiting and activities you’ll be participating in helps greatly
                in efficient packing. Instead of four pairs of shoes, you’ll know that you may not need those hiking boots
                after all. It will also help when you’re choosing what to wear each day,
            </p>
        </div>
        <div class="col-md-3">
            <h3>3. Budget for your trip over time</h3>
            <p>Travel is a fulfilling, life-changing investment. Planning for your trip ahead of time enables you and your group
                members to properly save for your tour and arrange for smaller, more manageable payments over time.
            </p>
        </div>
        <div class="col-md-6">
            <h3>4. Set up personalized free-time activities</h3>
            <p>Once you have all the necessary pre-tour details in place, you can use extra time before departure to consider
                free-time activities. Planning your travel in advance allows more opportunity to think about these additional
                adventures, enabling you and your group members to create a more personalized and immersive on-tour experience.
            </p>
        </div>
    </div>
    <app-favourite-spots></app-favourite-spots>
</div>
